/* Overall styling */
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
    135deg,
    #f8f9fa,
    #e9ecef
  );  */
  padding: 0 1.5rem;
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(26 35 126 / var(--tw-bg-opacity));
}

.intro {
  max-width: 600px;
  text-align: center;
  /* background: white; */
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #ddd; */
}

/* Profile image styling */
.home__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  border: 5px solid #007bff; /* Profile border color */
  transition: transform 0.3s ease;
}

.home__img:hover {
  transform: scale(1.1); /* Hover effect */
}

/* Text styling */
.home__name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
}

.home__education {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 1.5rem;
}

.home__education span {
  color: #007bff;
  font-weight: bold;
}

/* Socials and button */
.home__socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.home__social-link {
  color: #007bff;
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.home__social-link:hover {
  color: #0056b3;
  transform: scale(1.2);
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* Scroll Down */
.scroll__down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.scroll__down:hover .mouse {
  border-color: #007bff;
}

.mouse {
  border: 2px solid #666;
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: 0.75rem;
  border-radius: 1rem;
  position: relative;
}

.wheel {
  background-color: #007bff;
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .home__name {
    font-size: 2rem;
  }

  .home__education {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .home__name {
    font-size: 1.75rem;
  }

  .intro {
    padding: 1.5rem;
  }
}
