/* contact section start here */

.contact form {
  margin: 0px 1rem 1rem 1rem;
  max-width: 70rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(26 35 126 / var(--tw-bg-opacity));
}

.contact form .box {
  padding: 1rem 1.5rem;
  width: 100%;
  background: none;
  color: white;
  font-size: 1.6rem;
  text-transform: none;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.contact form textarea {
  height: 20rem;
  resize: none;
  color: white;
}

.contact form .box:focus {
  box-shadow: var(--box-shadow-inset);
}

.credits {
  font-size: 2rem;
  text-align: center;
  padding: 2.5rem 1rem;
  margin-top: 1rem;
  border-top: var(--border);
  color: var(--black);
}

.credits span {
  color: var(--green);
}

/* contact section end here */

@media (max-width: 450px) {
  .contact form .box {
    font-size: 0.6rem;
  }
}
